### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
SN_group = purchase_data.groupby(["SN"])

Distinct_SN = SN_group.count()

Total_Players = Distinct_SN["Purchase ID"].count()

Total_Players2 = pd.DataFrame({"Total Players": [Total_Players]})

Total_Players2

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#pd_items_unique = purchase_data["Item ID"].unique()
#pd_items_unique

PD_group = purchase_data.groupby(["Item ID"])
Distinct_Items = PD_group.count()
Distinct_Items

Unique_Items = Distinct_Items["Purchase ID"].count()
Unique_Items

Price_Total = purchase_data["Price"].sum()
Price_Count = purchase_data["Price"].count()
Average_Price = Price_Total / Price_Count
Average_Price

Total_Purchases = purchase_data["Item ID"].count()
Total_Purchases
Price_Total
Purchasing = pd.DataFrame({"Number of Unique Items": [Unique_Items], 
                           "Average Price": [Average_Price], 
                           "Number of Purchases": [Total_Purchases],
                            "Total Revenue": [Price_Total]})
Purchasing


Purchasing["Average Price"] = Purchasing["Average Price"].map("${:.2f}".format)
Purchasing["Total Revenue"] = Purchasing["Total Revenue"].map("${:.2f}".format)

Purchasing

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [38]:
Gender = purchase_data.groupby(["Gender"])
Gender
Gender_Count = Gender.count()
Gender_Count
 
Male_Count = Gender_Count.iloc[1,1]
Male_Count
#Male_Count2 = 484
Female_Count = Gender_Count.iloc[0,1]
#Female_Count2 = 81

Other_Count = Gender_Count.iloc[2,1]
#Other_Count2 = 11

Total_Count2 = Male_Count2 + Female_Count2 + Other_Count2
Total_Count2

Male_Percent = ((Male_Count)/(Total_Count2))*100 
Male_Percent
Female_Percent = ((Female_Count)/(Total_Count2))*100 
Other_Percent = ((Other_Count)/(Total_Count2))*100 

Other_Percent

Gender_df = pd.DataFrame()
data = [['Female', Female_Count2, Female_Percent], ['Male', Male_Count2, Male_Percent], ['Other / Non-Disclosed', Other_Count2, Other_Percent]]
Gender_df = pd.DataFrame(data,columns=['Gender','Total Count','Percentage of Players'])
Gender_df

Gender_df["Percentage of Players"] = Gender_df["Percentage of Players"].map("{:.2f}".format)
Gender_df = Gender_df.set_index("Gender")
Gender_df

                       Total Count Percentage of Players
Gender
Female                          81                 19.62
Male                           484                113.19
Other / Non-Disclosed           11                  2.60


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
purchase_df = pd.DataFrame()
purchase_df

purchase_data

Gender_Sum = Gender.sum()
Total_Purchase_Price = Gender_Sum["Price"]
Total_Purchase_Price
Purchase_Count = [['Female', Female_Count], ['Male', Male_Count], ['Other / Non-Disclosed', Other_Count]]
Purchase_Count_df =  pd.DataFrame(Purchase_Count,columns =['Gender', 'Purchase Count'])
Purchase_Count_df
Total_Purchase_Price_df = pd.DataFrame(Gender.sum())
Total_Purchase_Price_df
Total_Purchase_Price_df = Total_Purchase_Price_df[["Price"]]
Total_Purchase_Price_df
Purchase_Count_df

#purchase_df = Total_Purchase_Price_df + Purchase_Count_df
Total_Purchase_Price_df
Purchase_Count_df = Purchase_Count_df.set_index("Gender")w
Purchase_Count_df
Final_df = Purchase_Count_df.join(Total_Purchase_Price_df, how='inner')
Final_df["Average Purchase Price"] = Final_df["Price"]/Final_df["Purchase Count"]
Final_df
Final_df.rename(columns={'Price':'Total Purchase Value'}, inplace=True)
Final_df["Avg Total Purchase Per Person"] = Final_df["Total Purchase Value"] / Gender_df["Total Count"]

Final_df
#df2=df.assign(Score3 = [56,86,77,45,73,62,74,89,71])
#print df2
#df1['e'] = Series(np.random.randn(sLength), index=df1.index)
#Purchase_df = Purchase_Count_df + Total_Purchase_Price_df["Price"]

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase Per Person
Gender,,,,
Female,113,361.94,3.203009,4.468395
Male,652,1967.64,3.017853,4.065372
Other / Non-Disclosed,15,50.19,3.346000,4.562727

In [22]:
## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [79]:
Bins = [0,10,15,20,25,30,35,40,100]
Group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_df = pd.DataFrame()

age_df = pd.DataFrame(purchase_data["Age"])

age_df["Age Summary"] = pd.cut(age_df["Age"], Bins, labels = Group_names)
age_df

group_age = age_df.groupby("Age Summary")
group_age
group_age.count()


purchase_data_SN = purchase_data.groupby(["SN"])
purchase_data_SN.count()

purchase_data = pd.DataFrame(purchase_data)
pd.value_counts(purchase_data['SN'])

purchase_data=np.unique(purchase_data[['SN','Age']], axis=0)

TypeError: The axis argument to unique is not supported for dtype object

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80